

.sidebar-content{
	margin-top: 20px;
	padding: 10px;
}

.random-img{
	margin-left: 1px;

}


.content p{
	float: left;
	margin-top: 20px;
}


.content-link{
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 10px;

}

.login{
	padding: 5px;

}

h4{
	text-align: center;
}